<h3 class="page-title sbold"> Carrier List</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Carrier Name </th>
                <th style="width: 120px;"> Actions </th>
            </tr>
        </thead>
        <tbody>
          <% @carriers.each do |carrier| %>
            <tr>
                <td><%= carrier.name %></td>
                <td>
                    <% if current_user.superuser? %>
                    <div class="btn-group btn-group-sm btn-group-solid">
                        <%#= link_to content_tag(:i, nil, class: "fa fa-file-o"), carrier, class: "btn green tooltips", title: "Show #{carrier.name}" %>
                        <%= link_to content_tag(:i, nil, class: "fa fa-edit"), edit_carrier_path(carrier), class: "btn blue", title: "Edit #{carrier.name}" %>
                        <%= link_to content_tag(:i, nil, class: "fa fa-times"), carrier, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
                    </div>
                    <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<%= paginate @carriers %>