<!-- Add Payment Modal -->
<div class="modal fade modal-scroll bs-modal-lg" id="payment" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Invoice a Payment</h4>
            </div>
            <form action="/invoices/add_payment_line_item" data-remote="true" method="get" accept-charset="UTF-8" id="invoicepaymentform">
            <div class="modal-body">
				<div class="form-horizontal">
		            <div class="form-group number_select">
		                <%= label :number_id, "Number", class: "col-md-2 control-label" %>
		                <div class="col-md-10">
		                	<%= select_tag "number_id", options_from_collection_for_select(@customer.numbers.all, "id", "number"), prompt: "Select a Number", class: "form-control number" %>
		                </div>
		            </div>
	        	</div>
            </div>
            <div class="modal-footer">
            	<button type="submit" class="btn btn-success green">Add Payment to Invoice</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
	$(".number").change(function(){

	  var value = {
	  	customer_id: "<%= @customer.id %>",
	  	number_id: $(this).val()
	  }
	  
	  $('.payment_field').remove()
	  
	  $.ajax({
	    url: "/invoices/number_details",
	    type: 'GET',
	    data: value,
	    success: function(data) {
	      $("#products_list").html(data.products)
	    }
	  })
	});
</script>
