<h3 class="page-title"> Posting a Payment for <%= @customer.full_name_lmf if @customer%>
  <small></small>
</h3>

<div class="portlet light bordered">
	<div class="portlet-body form">

	<div class="form-group">
		<%= label_tag "Number" %>
		<%= collection_select :number, :id, @customer.numbers.all, :id, :number, {prompt: "Select a Phone Number"}, {class: "form-control number"} %>
	</div>

    <div class="payment_fields">
    </div>

	</div>
</div>

<script>
$(".number").change(function(){

  var value = {
  	customer_id: "<%= @customer.id %>",
  	number_id: $(this).val()
  }
  
  $.ajax({
    url: "/payments/carrier_and_payment_types",
    type: 'GET',
    data: value
  })

})	
</script>