<tr>
	<td><%= number_field_tag "card_number[]", nil, class: "form-control" %></td>
	<td><%= text_field_tag "charged_amount[]", nil, class: "form-control charged-amount" %></td>
	<td><a class="what">Remove</a></td>
</tr>