<h3 class="page-title sbold">Plans</h3>

<!--
<div class="btn-group pull-right">
  <button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon-list-alt icon-list-alt"></i></button>
</div>   
<div class="pull-right search"><input class="form-control" type="text" placeholder="Search"></div>

<div class="clearfix"></div>
-->

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Plan Code </th>
                <th> Name </th>
                <th> Carrier </th>
                <th> Price </th>
            </tr>
        </thead>
        <tbody>
          <% @plans.each do |plan| %>
            <tr>
                <td><%= plan.code %></td>
                <td><%= plan.name %></td>
                <td><%= plan.carrier.name %></td>
                <td><%= number_to_currency(plan.price) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
