        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                &copy; 2016 Wireless Store Management System | Licensed to: Vinnie Cellular | Developed by: <a href="mailto:david@davidlee.io">david@davidlee.io</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->