        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                &copy; Copyright 2016<%= " - #{Time.now.year}" if Time.now.year > 2016 %>, <a href="#">Wireless Store Management System</a>, All Rights Reserved.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->