<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard"><b><%= current_store.alias if current_store %></b></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#"><%= params[:controller].capitalize %></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span><%= @page_title if @page_title%></span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->